.preview_copy {
    background: #000;
}

.preview__body_padding {
    justify-content: start;
    align-items: start;
}

.preview__text {
    padding: 10px;
    color: white;
    overflow: auto;
}

.preview__btn {
    background: rgb(125, 123, 238);
    /* border-radius: 0; */
    text-align: center;
    padding: 18px;
    transition: all 0.3s ease 0s;
}

.preview__btn:hover {
    background: #fff;
    
}

.preview__btn:hover .preview__link {
    color: #000;
}

.preview__link {
    text-decoration: none;
    color: white;
}