.menu {
    transition: all 0.2s ease 0s;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    background: rgb(58, 55, 71);
    height: 100vh;
}

.menu.hide {
    transform: translateX(-100%);
}

.menu__body {
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__accordion {
    padding-top: 20px;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* border-left: 10px solid rgb(207, 207, 207); */
    padding-left: 10px;
    
}

.list-menu {
    border-left: 10px solid rgb(207, 207, 207);
}

.list-menu__item {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background: rgb(93, 88, 114);
    color: white;
    transition: all 0.3s ease 0s;
}

.list-menu__item:hover {
    background: rgb(172, 156, 235);
}


.menu__header {
    display: flex;
}

.menu__btn {
    flex: 0 0 50%;
    padding: 10px;
    background: #333;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-align: center;
    font-family: sans-serif;
}

.menu__btn:hover {
    background: rgb(93, 92, 146);
}

.input-change-container {
    /* padding: 20px 10px 20px 10px; */
    margin-top: 10px;
    /* background-color: antiquewhite; */
    width: 100%;
    color: white;
    text-align: center;
}

.input-change-input {
    width: 100%;
}