*,
input,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul li {
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    overflow-y: hidden;
    font-family: "Roboto";
    font-weight: 400;
}

.main {
    display: flex;
}